output "eDP-1" {
    mode "2880x1800@120.00"
    scale 2.0
    transform "normal"
    position x=0 y=0
}

output "eDP-2" {
    mode "2880x1800@120.00"
    scale 2.0
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-1" {
	mode "1920x1080@144.00"
    scale 1.20
	transform "normal"
    position x=2880 y=0
}
